@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  /* shared styles stars here */
.display-flex{
  display: flex;
}

  /* shared styles stars here */
  .dark-1{
    color: #131313;
  }
  
  .dark-2{
    color: #424242;
  }
  .dark-3{
    color: #727272;
  }
  .bg-light{
    background-color: rgba(255, 144, 14, 0.1);
  }

.btn-primary{
  background-color: #FF900E;
  color: white;
  padding: 20px 25px;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 10px;
  border: none;
}

  /* nav bar styles starts here */
  .brand{
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
  }
  .nav-bar{
    justify-content: space-between;
    align-items: center;

  }

  .nav-item{
    list-style: none;
    margin-right: 30px;

  }
  .nav-link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #424242;
  }

  /* nav bar styles ends here */
  .nav-bar, .banner{
    max-width: 1440px;
    margin: 0 auto;
  }
  /* banner styles stars here */
  .banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
  }

  .banner-title{
    font-weight: 700;
    font-size: 4rem;
  }
  .banner-img{
    max-width: 100%;
  }


  /* banner styles ends here */