@media screen and (max-width: 576px) {
    .nav-bar,
    .nav-links,
    .teams{
        flex-direction: column;
    }
    
    .img-container, .fact-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .fact-container{
        justify-items: center;
        gap: 24px;
    }
    .our-features{
        margin-left: 20px;
    }
}