@media screen and (max-width: 576px) {
    .nav-bar,
    .nav-links,
    .teams{
        flex-direction: column;
    }
    
    .img-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .our-features{
        margin-left: 20px;
    }
}