@media screen and (max-width: 576px) {
    .nav-bar,
    .nav-links,
    .teams{
        flex-direction: column;
    }
    
    .img-container, 
    .fact-container,
    .sponspors-companies
    {
        display: grid;
        grid-template-columns: 1fr;
    }
    .sponspors-companies{
        justify-items: center;
        gap: 50px;
    }
    .fact-container{
        justify-items: center;
        gap: 24px;
    }
    .our-features{
        margin-left: 20px;
    }
}